body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p {
    margin-bottom: 0px;
}

.circular {
    width: 225px;
    height: 225px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    text-align: center;
}

.deputat {
    background-image: url(../Content/Images/gerb.png)
}

.mr-zero-block {
    background-color: #FDF5E2;
    position: relative;
    z-index: 100;
    color: #456E7B
}
.mr-zero-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #FDF5E2;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.mr-first-block {
    background-color: #456E7B;
    position: relative;
    z-index: 90;
}
.mr-first-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #456E7B;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.mr-second-block {
    background-color: #E1E1E1;
    position: relative;
    z-index: 80;
}
.mr-second-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #E1E1E1;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.mr-third-block {
    background-color: #D7F7FA;
    position: relative;
    z-index: 70;
}
.mr-third-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #D7F7FA;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    z-index:9999
}

.mr-fourth-block {
    background-color: #456E7B;
    position: relative;
    z-index: 60;
}

.mr-fourth-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #456E7B;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.mr-fifth-block {
    background-color: #D7F7FA;
    position: relative;
    z-index: 50;
}
.mr-fifth-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #D7F7FA;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.mr-sixth-block {
    background-color: #E1E1E1;
    position: relative;
    z-index: 40;
}
.mr-sixth-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #E1E1E1;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    z-index:9999
}

.mr-seventh-block {
    background-color: #D7F7FA;
    position: relative;
    z-index: 30;
}
.mr-seventh-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #D7F7FA;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.mr-eighth-block {
    position: relative;
    overflow: hidden;
    z-index: 20;
}
.mr-eighth-block:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    opacity: 0.3;
    background-image: url(../Content/Images/back8.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
/* .mr-eighth-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #E1E1E1;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
} */ 
    
.toggle-me {
    cursor: pointer;
}

.collapse {
    padding: 0px;
}

.text-black-hack {
    color: #3F4F4E;
}
    
.btn.collapsed:after {
    /* Icon when the collapsible content is hidden */
    content: "\e080";
}

#clockdiv {
	font-family: sans-serif;
	color: #315668;
	display: inline-block;
}

#clockdiv > div {
	padding: 10px;
	border-radius: 3px;
	background: #FDF5E2;
	display: inline-block;
}

#clockdiv div > span {
	padding: 15px;
	border-radius: 3px;
	background: #315668;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}

.days {
    color: #FDF5E2;
    font-size: 2em;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li div {
    width: 50%;
    float: left;
    text-align: center;
}

ul li .zero-left {
    position: relative;
    color: #E1524F;
    width: 30%;
    text-align: right;
    padding-right: 15px;
}

ul li .zero-right {
    border-left: 3px solid #3C4C4C;
    position: relative;
    color: #2B454E;
    width: 70%;
    padding-left: 15px;
    text-align: left;
}

ul li .first {
    position: relative;
    color: #E1524F;
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

ul li .second {
    border-left: 3px solid #3C4C4C;
    position: relative;
    width: 70%;
    padding-left: 15px;
    text-align: left;
    color: #2B454E;
}

ul li .second p {
    color: #456E7B;
    position: relative;
    text-align: left;
}

ul li .first::before {
    content: '';
    position: absolute;
    right: -11.5px;
    width: 20px;
    height: 20px;
    border-radius: 150%;
    border: 2px solid #3C4C4C;
    background: #E1E1E1;
    z-index:9999
}

.bigtext {
    font-size: 2em;
    text-align: left;
    padding-bottom: 20px;
    color: #FFC6A3;
}

.bignumber {
    font-size: 2em;
    text-align: right;
    padding-bottom: 20px;
    color: #FFC6A3;
}

.modal {
    top: 20%
}

body.modal-open {
    overflow: visible;
}
