body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.carousel {
    padding: 20px
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    text-align: center;
}

.deputat {
    background-image: url(../Content/Images/un1.jpg)
}

.mr-zero-block {
    background-color: #FDF5E2;
    position: relative;
    z-index: 7;
    color: #315668
}

.mr-zero-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #FDF5E2;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.mr-first-block {
    background-color: #E1E1E1;
    position: relative;
    z-index: 6;
}
.mr-first-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #E1E1E1;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.mr-second-block {
    background-color: #446E7A;
    position: relative;
    z-index: 5;
}
.mr-second-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #446E7A;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.mr-third-block {
    background-color: white;
    position: relative;
    z-index: 4;
}
.mr-third-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px white;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.mr-fourth-block {
    background-color: #ebf8fe;
    position: relative;
    z-index: 3;
}
.mr-fourth-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #ebf8fe;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}
.mr-fifth-block {
    background-color: #FF9009;
    position: relative;
    z-index: 2;
}
.mr-fifth-block:after {
    content:'';
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 25px #FF9009;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.btn {
    width: 100%;
    font-size: 1em;
}

.btn:after {
    /* Icon when the collapsible content is shown */
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
}
    
.btn.collapsed:after {
    /* Icon when the collapsible content is hidden */
    content: "\e080";
}

#clockdiv {
	font-family: sans-serif;
	color: #315668;
	display: inline-block;
}

#clockdiv > div {
	padding: 10px;
	border-radius: 3px;
	background: #FDF5E2;
	display: inline-block;
}

#clockdiv div > span {
	padding: 15px;
	border-radius: 3px;
	background: #315668;
	display: inline-block;
}

.smalltext {
	padding-top: 5px;
	font-size: 16px;
}

.days {
    color: #FDF5E2;
    font-size: 2em;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li div {
    width: 50%;
    float: left;
    text-align: center;
}

ul li .zero-left {
    position: relative;
    color: #EB908B;
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

ul li .zero-right {
    border-left: 3px solid #3C4C4C;
    position: relative;
    color: #3C4C4C;
    width: 70%;
    padding-left: 15px;
    text-align: left;
}

ul li .first {
    position: relative;
    color: #EB908B;
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

ul li .second {
    border-left: 3px solid #3C4C4C;
    position: relative;
    width: 70%;
    padding-left: 15px;
    text-align: left;
}

ul li .second p {
    color: #EB908B;
    position: relative;
    text-align: left;
}

ul li .first::after {
    content: '';
    position: absolute;
    right: -11.5px;
    width: 20px;
    height: 20px;
    border-radius: 150%;
    border: 2px solid #3C4C4C;
    background: #3C4C4C;
    z-index:9999
}