@{
    ViewBag.Title = "Преимущества";
}

<div class="container">
    <br /><br /><br />
    <H2>ПРЕИМУЩЕСТВА НАШЕГО УНИВЕРСИТЕТА</H2>
    <ul>
        <li>Мы – москвичи, хотя работали во всех регионах России: от
    Калининграда до Камчатки и от Крыма до Мурманска. Мы
    неоднократно участвовали в московских выборах разного уровня и
    как технологи, и как кандидаты в депутаты, поэтому среди нас
    есть действующие и бывшие местные депутаты.</li>
        <li>Мы не однодневки, и не вчера пришли на рынок выборов.

    Политическим PR’ом мы занимаемся с 1986-го года, рекламой – с 1989-го, российскими
    выборами – с 1993-го года. Т.е. счёт проведенных избирательных кампаний
    идет на сотни. Костяк нашей команды был сформирован 20 лет назад – в
    1996 году</li>
        <li>Мы успешны. Мы, начиная с 1997 года, неоднократно участвовали в
    московских городских и областных выборах разного уровня: как
    районных, так и думских. При нашем участии в 2012 в Москве
    впервые была избрана самая крупная оппозиционная фракция в
    местном совете, и избран председатель «неединорос». Но ещё в
    1997 году мы проделали тоже самое в Домодедовском районе
    Московской области.</li>
        <li>Мы не являемся партийным проектом. Мы проект надпартийный.

    Поэтому для нас на первом месте интересы москвичей, а не
    удовлетворение, не всегда понятных, партийных амбиций. Но мы хорошо
    знаем их методы работы, т.к. в разное время сотрудничали и с Единой
    Россией, и с КПРФ, и с ЛДПР, и со Справедливороссами, и даже с Родиной и «Патриотами России».</li>
        <li>Наш курс – Ваша удача!
    Основными компонентами успешной предвыборной кампании являются:
    наличие достаточных ресурсов: временных, людских, финансовых и
    т.п., для её проведения;
    грамотная организация самой кампании при участии
    профессионалов;везение, простое человеческое везение!
    И первое Ваше везение – это Ваше знакомство с нашим обучающим курсом
    «СТАНЬ ДЕПУТАТОМ МОСКВЫ – СТРАТЕГИЯ ПОБЕДЫ».
    Как решить остальные проблемы – мы Вам расскажем при встрече.</li>
    </ul>
</div><br /><br /><br />
