@{
    ViewBag.Title = "Бонусы";
}

<div class="container">
    Что необходимо для того, чтобы принять в нем участие:

    До 31 января 2017 года надо оставить заявку:
    По телефону: <a href="tel:+74956424276">+7 495 642-42-76</a>
    По е-мэйлу: <a href="mailto:info@ip-pr.ru?Subject=MRPR">info@ip-pr.ru</a>
    Адрес: ул. Воронцовская, д.21
    Спешите! Количество мечт ограничено!
</div>
