@{
    ViewBag.Title = "Контакты";
}

<div class="container">
    Что необходимо для того, чтобы принять в нем участие:<br /><br />

    До 31 января 2017 года надо оставить заявку:<br />
    По телефону: <a href="tel:+74956424276">+7 495 642-42-76</a><br />
    По е-мэйлу: <a href="mailto:info@ip-pr.ru?Subject=MRPR">info@ip-pr.ru</a><br />
    Адрес: ул. Воронцовская, д.21<br />
    Спешите! Количество мечт ограничено!<br />
</div>
