@{
    ViewBag.Title = "Главная";
}

<section class="mr-zero-block" id="anchor">
    <div class="container text-center">
        <br />
        <img src="~/Content/Images/gerb.png" /> <br />
        УНИВЕРСИТЕТ<br />
        МУНИЦИПАЛЬНЫХ ВЫБОРОВ
        <hr style="width: 100%; color: #315668; height: 2px; background-color:#315668;" />

        <p style="color:#FF524F">10 СЕНТЯБРЯ 2017 ГОДА</p>
        В 124 РАЙОНАХ МОСКВЫ<br />
        ПРОЙДУТ ВЫБОРЫ В МЕСТНЫЕ СОВЕТЫ ДЕПУТАТОВ.<BR />
        БУДУТ ИЗБРАНЫ 1520 ДЕПУТАТОВ МЕСТНЫХ СОВЕТОВ<BR /><BR />
        ВОЗЬМИ ВЛАСТЬ В СВОИ РУКИ<br />
        <p style="color:#FF524F">СТАНЬ ДЕПУТАТОМ</p>
        <hr style="width: 100%; color: #315668; height: 2px; background-color:#315668;" />

        <div id="clockdiv">
            ОСТАЛОСЬ
            <br />
            <div>
                <span class="days"></span>
                <div class="smalltext">ДНЕЙ</div>
            </div>
            <br />ДО КОНЦА НАБОРА<br />
            КАНДИДАТОВ НА ОБУЧЕНИЕ
        </div>
    </div><br />
</section>

<section class="mr-first-block">
    <div class="container">
        <div class="row">
            <br /><br />
            <h2 class="text-center" style="color:#E1E1E1">СТАВ ДЕПУТАТОМ ТЫ ПОЛУЧИШЬ:</h2>
            <br /><br />
            <div class="col-xs-1 bignumber">1</div>
            <div class="col-xs-11 bigtext"><p>УДОСТОВЕНИЕ ДЕПУТАТА И ЗНАЧОК</p></div>
            <hr style="width: 100%; color: #E1E1E1; height: 2px; background-color:#E1E1E1;" />
            <div class="clearfix"></div>
            <div class="col-xs-1 bignumber">2</div>
            <div class="col-xs-11 bigtext">
                <p>20000 РУБЛЕЙ</p>
                ежемесячная премия
            </div>
            <hr style="width: 100%; color: #E1E1E1; height: 2px; background-color:#E1E1E1;" />
            <div class="col-xs-1 bignumber">3</div>
            <div class="col-xs-11 bigtext">
                <p>БЕСПЛАТНЫЙ ПРОЕЗД</p>
                на всех видах городского транспорта
            </div>
            <hr style="width: 100%; color: #E1E1E1; height: 2px; background-color:#E1E1E1;" />
            <div class="col-xs-1 bignumber">4</div>
            <div class="col-xs-11 bigtext">
                <p>ПРАВО ПРОХОДА</p>
                во все муниципальные и государственные учреждения
            </div>
            <hr style="width: 100%; color: #E1E1E1; height: 2px; background-color:#E1E1E1;" />
            <div class="col-xs-1 bignumber">5</div>
            <div class="col-xs-11 bigtext">
                <p>ПРАВО РАСПРЕДЕЛЯТЬ</p>
                местный бюджет на ЖКХ и благоустройство дворов
            </div>
            <hr style="width: 100%; color: #E1E1E1; height: 2px; background-color:#E1E1E1;" />
            <div class="col-xs-1 bignumber">6</div>
            <div class="col-xs-11 bigtext">
                <p>ПРАВО КОНТРОЛИРОВАТЬ</p>
                ход и качество капремонта многоквартирных домов и многое другое
            </div>
        </div><br />
    </div>
</section>

<section class="mr-second-block">
    <div class="container">
        <br />
        <h2 class="text-center" style="color:#2B454E">СТАТЬ ДЕПУТАТОМ - ПРОСТО!</h2>
        <br />
        <ul>
            <li>
                <div class="zero-left">
                    <h2>МИФ!</h2>
                </div>
                <div class="zero-right">
                    <h2>РЕАЛЬНОСТЬ!</h2>
                </div>
            </li>
            <li>
                <div class="first">
                    ОТ ДЕПУТАТА НИЧЕГО НЕ ЗАВИСИТ!
                </div>
                <div class="second collapse-group">
                    <p class="toggle-me">ДЕПУТАТЫ ИМЕЮТ ДОВОЛЬНО СЕРЬЕЗНЫЕ ПОЛНОМОЧИЯ, КОТОРЫМИ С НИМИ ПОДЕЛИЛАСЬ ГОРОДСКАЯ ВЛАСТЬ.  ВОТ ЧТО ОНИ КОНТРОЛИРУЮТ:</p>

                    <small class="collapse" id="reality-first-0">
                        Депутаты муниципальных собраний могут:<br />
                        &ndash; выражать недоверие главе управы района;<br />
                        &ndash; проверять управляющие компании и разрывать с ними контракт по итогам проверки;<br />
                        &ndash; контролировать средства, выделяемые на благоустройство дворов, детских и спортивных площадок,<br />
                        &ndash; согласовывать межевание земельных участков, определяющие землеотводы под жилые дома;<br />
                        &ndash; согласовывать градостроительные планы земельных участков для строительства площадью до 1500 м²;<br />
                        &ndash; согласовывать размещения ларьков и летних кафе;<br />
                        &ndash; разрешать установку шлагбаумов;<br />
                        &ndash; давать разрешение на сдачу в аренду нежилых помещений, находящихся в государственной собственности, расположенных в жилых домах и др.

                    </small><br /><br /><br />
                </div>
            </li>
            <li>
                <div class="first">
                    НЕ КАЖДЫЙ МОЖЕТ СТАТЬ ДЕПУТАТОМ
                </div>
                <div class="second collapse-group">
                    <p class="toggle-me">ДЕПУТАТОМ МУНИЦИПАЛЬНОГО СОВЕТА ДЕПУТАТОВ В МОСКВЕ МОЖЕТ СТАТЬ ЛЮБОЙ ГРАЖДАНИН РОССИИ, ДОСТИГШИЙ 18 ЛЕТ</p>

                    <small class="collapse" id="reality-first-1">
                        В Москве немало людей стали депутатами в 19 лет! От депутата не требуется специальных знаний, высшего образования или каких-то особых навыков.
                        Он должен представлять интересы своих избирателей и обладать здравым смыслом.
                    </small><br /><br /><br />
                </div>
            </li>
            <li>
                <div class="first">
                    ЭТО ОЧЕНЬ СЛОЖНО
                </div>
                <div class="second collapse-group">
                    <p class="toggle-me">СТАТЬ ДЕПУТАТОМ МОЖЕТ КАЖДЫЙ И МЫ НАУЧИМ КАК</p>
                    <small class="collapse" id="reality-first-2">
                        Скажем так, это чуть сложнее чем научиться управлять автомобилем. Но этому, точно, можно научиться.
                        Т.к. есть проверенные методики и понятные алгоритмы, позволяющие обычному гражданину разобраться как, например, отремонтировать свой и соседский двор.
                        Большинство вопросов, решаемых депутатами – это вопросы нашей повседневной городской жизни, понимание которых доступно любому здравомыслящему горожанину.<br /><br />

                        Во всяком случае, поверьте, большинство местных депутатов – это обычные люди, которые, часто, волею случая оказались у кормила власти. И поверьте – они справляются.
                        Помогает обычный здравый смысл, который позволяет понять: в чём состоят интересы твои и твоих избирателей, а не Дептранса, который, во чтобы то ни стало,
                        хочет обложить тебя платными парковками.
                    </small><br /><br /><br />
                </div>
            </li>
            <li>
                <div class="first">
                    ЗАНИМАЕТ СЛИШКОМ МНОГО ВРЕМЕНИ
                </div>
                <div class="second collapse-group">
                    <p class="toggle-me">В СРЕДНЕМ, ВЫ БУДЕТЕ ЗАНЯТЫ 1 ВЕЧЕР В НЕДЕЛЮ</p>
                    <small class="collapse" id="reality-first-3">
                        У депутата есть 2 обязательных мероприятия каждый месяц: ежемесячные заседание и прием граждан. Кроме того, еще возможна работа в
                        комиссиях и выезды по заявлению граждан, но как правило, большая часть этой работы ложится на председателя и аппарат Совета. Так что, в среднем,
                        Вы будете заняты 1 вечер в неделю.
                    </small><br /><br /><br />
                </div>
            </li>
            <li>
                <div class="first">
                    ЭТО ОЧЕНЬ ДОРОГО
                </div>
                <div class="second collapse-group">
                    <p class="toggle-me">ЭТО СТОИТ ОТ 500 РУБЛЕЙ ДО 20 ТЫСЯЧ!</p>
                    <small class="collapse" id="reality-first-4">
                        На самом деле, если самому активно участвовать в кампании, расходы как правило составят от нескольких сотен до
                        нескольких десятков тысяч рублей. Можно и в 30 тысяч уложится, можно и 100 тысяч не пожалеть. Разница в результате небольшая, выше
                        гарантия сохранить итоги голосования. Эти траты «отбиваются» максимум за полгода, а то и за три месяца, за счет ежеквартальной депутатской премии.
                    </small><br /><br /><br />
                </div>
            </li>
        </ul>
    </div><br />
</section>

<section class="mr-third-block">
    <div class="container text-center">
        <br /><br />

        <h2 class="text-center" style="color:#FF524F">УЗНАЙ БОЛЬШЕ</h2><br /><br />

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">О КАКИХ ВЫБОРАХ ИДЁТ РЕЧЬ?</h2>
                <p class="collapse text-black-hack" id="FAQ0">Речь идёт о выборах местных депутатов в Советы депутатов муниципальных округов города Москвы в 2017 году.</p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">КОГДА И В КАКИХ РАЙОНАХ ПРОЙДУТ ВЫБОРЫ?</h2>
                <p class="collapse text-black-hack" id="FAQ1">Выборы состоятся 10 сентября 2017 года в 124 районах (кроме Щукино и новой Москвы). Список районов здесь - ссылка.</p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">КОГДА НАЧНЁТСЯ ИЗБИРАТЕЛЬНАЯ КАМПАНИЯ?</h2>
                <p class="collapse text-black-hack" id="FAQ2">
                    Готовиться к выборам надо уже сейчас. Активная фаза кампании, связанная с выбором округов, составлением списков кандидатов, начнется в апреле-марте.
                    По закону старт избирательной кампании будет дан во второй половине июня – за 80 дней до дня голосования.
                    Поэтому обучение в нашем Университете – это первый шаг на пути к мандату.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">КТО ТАКИЕ МУНИЦИПАЛЬНЫЕ ДЕПУТАТЫ?</h2>
                <p class="collapse text-black-hack" id="FAQ3">
                    Согласно Федерального закона "Об общих принципах организации местного самоуправления в Российской Федерации" от 06.10.2003 N 131-ФЗ
                    Советы депутатов муниципальных округов города Москвы относятся к представительным органам местного самоуправления - выборным органам муниципальных образований.
                    В «старой Москве» 125 муниципальных округов (в  «новой Москве» - ТиНАО, выборов в 2017 году не будет), в каждом совете от 10 до 20 депутатов.
                    Депутаты каждый месяц проводят заседания на которых утверждают местный бюджет, проекты благоустройства дворов, контролируют капремонт домов
                    и размещение ларьков и летних кафе и другие вопросы, относящиеся к исключительной компетенции представительного органа муниципального образования,
                    также ведут постоянный прием граждан по всем вопросам и многое другое....
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">ПОЛУЧАЮТ ЛИ МУНИЦИПАЛЬНЫЕ ДЕПУТАТЫ ЗАРПЛАТУ?</h2>
                <p class="collapse text-black-hack" id="FAQ4">
                    На постоянной основе, т.е. по трудовому контракту, в совете депутатов, как правило, работает только председатель.
                    Однако в настоящее время московские муниципальные депутаты ежеквартально получают субсидию от города Москвы на поощрение депутатов,
                    активно участвующих в осуществлении своих полномочий, из расчета 60 тысяч рублей на депутата в месяц – на руки получается 52 200 рублей.
                    Так же каждый депутат пользуется правом бесплатного проезда на всем общественном транспорте столицы, кроме такси.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">КТО МОЖЕТ СТАТЬ ДЕПУТАТОМ</h2>
                <p class="collapse text-black-hack" id="FAQ5">
                    Депутатом муниципального Совета депутатов в г. Москве может стать любой гражданин России, достигший 18 лет.
                    В Москве немало людей стали депутатами в 19 лет! От депутата не требуется специальных знаний, высшего образования или каких-то особых навыков.
                    Он должен представлять интересы своих избирателей и обладать здравым смыслом.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">ПОЧЕМУ МНЕ НАДО ЗАПИСАТЬСЯ НА ВАШ КУРС?</h2>
                <p class="collapse text-black-hack" id="FAQ6">
                    Это Ваш первый реальный шаг на пути к депутатскому мандату. <br />
                    Вы получите основные навыки организации и управления предвыборной кампанией на муниципальном уровне.<br />
                    Вы узнаете: как выбрать свой округ, как результативно проводить встречи с избирателями, зачем нужны агитационные печатные материалы, где искать деньги на кампанию,
                    как привлечь актив и как надо проконтролировать голосование, чтобы сохранить результат и Вас не обманули. Юристы расскажут Вам как правильно подать документы для
                    выдвижения кандидатом в депутаты, открыть избирательный счёт и стать зарегистрированным кандидатом, что делать чтобы Вас не сняли с выборов и.т.д.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">КАКИЕ ЗАНЯТИЯ ВХОДЯТ В ПРОГРАММУ КУРСА?</h2>
                <p class="collapse text-black-hack" id="FAQ7">
                    Вот примерный план занятий, который может корректироваться с учетом интересов слушателей:<br />
                    1. Почему выгодно быть депутатом. Кто такие московские депутаты. Зачем они нужны. Что они могут. Структура управления Москвой – иерархия власти. Когда и как начать избирательную кампанию. Как выбрать округ. Как привлечь актив. Особенности ведения кампании в муниципальном округе: как найти свой «электорат».<br />
                    2. Регистрация на выборах: выдвижение от партии или сбор подписей – юридические аспекты. Избирательный счёт. Сбор и использование социально значимой информации. Как наладить диалог с местной властью. Роль районных управ.<br />
                    3. Окупаемость избирательной кампании. Краудфандинг или чем заинтересовать инвесторов.<br />
                    4. Разработка агитационной продукции – как сделать «недорого и сердито». Где взять информацию для АПМ и как ею распорядиться.<br />
                    5. Полевые технологии «от двери к двери»: как бюджетно «окучить» свой округ и недорого распространить АПМ. Встречи с избирателями – технология проведения.<br />
                    6. Интернет и его роль. Аккаунты в соцcетях, как использовать: постить котиков или ругать платные парковки.<br />
                    7. Защита результатов выборов: как не дать себя обмануть Организация контроля хода голосования и подсчета голосов.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">КТО БУДЕТ УЧИТЬ?</h2>
                <p class="collapse text-black-hack" id="FAQ8">
                    Занятия проводят и делятся опытом ведущие и самые успешные депутаты местных Советов города Москвы и Госдумы ФС РФ,
                    политтехнологи и электоральные юристы с 20-летним стажем участия в московских выборах: на муниципальном, городском и федеральном уровнях.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">КАКОВА ПРОДОЛЖИТЕЛЬНОСТЬ УЧЕБНОГО ЦИКЛА?</h2>
                <p class="collapse text-black-hack" id="FAQ9">
                    Занятия будут проходить в течение месяца и включают в себя 7 занятий по 3 часа.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">СКОЛЬКО СТОИТ ОБУЧЕНИЕ?</h2>
                <p class="collapse text-black-hack" id="FAQ10">
                    Полная стоимость обучения 9500 рублей.<br /><br />

                    Она включает в себя 7 занятий по 3 часа,<br /><br />

                    А также учебно-методические пособия и полезные материалы:<br /><br />

                    Сборник вопросов и ответов по темам, волнующим избирателей (ЖКХ, налоги, дороги, и пр.), для встреч с избирателями и смыслового наполнения АПМ.<br />
                    Набор юридических документов.<br />
                    Методички по технологиям защиты результата.<br />
                    Кроме того, Вы сможете бесплатно консультироваться у наших специалистов по вопросам связанным с вашей избирательной кампанией, вплоть до окончания выборов.
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />

        <div class="row">
            <div class="span4 collapse-group">
                <h2 class="toggle-me text-black-hack">АДРЕС И РЕКВИЗИТЫ УНИВЕРСИТЕТА?</h2>
                <p class="collapse text-black-hack" id="FAQ11">
                    Мы находимся в Центральном административном округе Москвы, рядом с Префектурой ЦАО метро Таганская-Марксистская (5 минут пешком).
                    Адрес: ул. Воронцовская, д.21, 5-й под’езд, 4-й этаж. Занятия проходят по вторникам и четвергам с 19.00 до 22.00..
                </p>
            </div>
        </div>

        <hr style="width: 100%; color: #FF524F; height: 2px; background-color:#FF524F;" />
    </div><br /><br />
</section>

<section class="mr-fourth-block">
    <div class="container">
        <div class="row text-center">
            <br /><br />
            <h2 class="text-center" style="color:#E1E1E1">РЕКОМЕНДАЦИИ</h2>
            <div class="col-md-4 col-sm-6" style="margin-bottom:15px">Боушев Владимир<div class="circular reference01 center-block"></div>Муниципальный депутат,<br /> Председатель Земельной комиссии,<br /> член Градостроительной комиссии ЦАО, беспартийный</div>
            <div class="col-md-4 col-sm-6" style="margin-bottom:15px">Свиридов Илья<div class="circular reference02 center-block"></div>Председатель Совета депутатов <br />МО Таганский, Глава МО <br /> Партия Справедливая Россия</div>
            <div class="col-md-4 col-sm-6" style="margin-bottom:15px">Краевский Михаил<div class="circular reference03 center-block"></div>Генеральный директор <br />Агентства «Свежий взгляд»<br />С 1993 года проведено <br />более 200 избирательных кампаний</div>
            <div class="col-md-4 col-sm-6" style="margin-bottom:15px">Борисов Владимир<div class="circular reference04 center-block"></div>Муниципальный депутат<br /> член КПРФ</div>
            <div class="col-md-4 col-sm-6" style="margin-bottom:15px">Бузин Андрей<div class="circular reference05 center-block"></div>депутат Советского райсовета г.Москвы, 1990-93гг<br /> член научно-методического совета при ЦИК РФ<br /> Сопредседатель общественного движения «Голос»</div>
            @*<div class="col-md-4 col-sm-6" style="margin-bottom:15px"><div class="circular reference06 center-block"></div></div>*@
        </div>
    </div><br />    
</section>

<section class="mr-fifth-block">
    <div class="container">
        <div class="row text-center">
            <br /><br />
            <h2 style="color:#2B454E">БОНУСЫ</h2>
            Кроме того, Вы получите:<br /><br />
            Сертификат об окончании Университета муниципальных депутатов<br />
            Вопросы и ответы по темам, волнующим избирателей (ЖКХ, налоги, дороги, и пр.),
            для встреч с избирателями и смыслового наполнения АПМ.<br />
            Набор юридических документов.<br />
            Методички по технологиям защиты результата.<br />
            Скидка 15% на услуги компании «Онлайн выборы».<br />
        </div>
    </div><br /><br />
</section>

<section class="mr-sixth-block">
    <div class="container">
        <div class="row text-center">
            <br /><br />
            <h2 class="text-center" style="color:#FF524F">ПРЕИМУЩЕСТВА НАШЕГО УНИВЕРСИТЕТА</h2><br /><br />
            <ul>
                <li>
                    <div class="zero-left">
                        &nbsp;
                    </div>
                    <div class="zero-right">
                        &nbsp;
                    </div>
                </li>
                <li>
                    <div class="first">
                        МЫ – МОСКВИЧИ, НО РАБОТАЛИ ПО ВСЕЙ РОССИИ
                    </div>
                    <div class="second collapse-group">
                        <p class="toggle-me">МЫ БОЛЕЕ 20 ЛЕТ УЧАСТВУЕМ В ВЫБОРАХ ПО ВСЕЙ СТРАНЕ </p><br />
                        <small class="collapse" id="reality-second-0" style="display:inline">
                            от Калининграда до Камчатки и от Крыма до Мурманска. Мы также
                            неоднократно участвовали в московских выборах разного уровня и
                            как технологи, и как кандидаты в депутаты, поэтому среди нас
                            есть действующие и бывшие местные депутаты.
                        </small><br />
                    </div>
                </li>
                <li>
                    <div class="first">
                        МЫ НЕ ВЧЕРА ПРИШЛИ НА РЫНОК ВЫБОРОВ. 
                    </div>
                    <div class="second collapse-group">
                        <p class="toggle-me">И ИЗБРАЛИ НЕ ОДНУ СОТНЮ ДЕПУТАТОВ</p>
                        <small class="collapse" id="reality-second-1">
                            Политическим PR’ом мы занимаемся с 1986-го года, рекламой – с 1989-го, российскими
                            выборами – с 1993-го года. Т.е. счёт проведенных избирательных кампаний
                            идет на сотни. Костяк нашей команды был сформирован 20 лет назад – в
                            1996 году
                        </small><br /><br /><br />
                    </div>
                </li>
                <li>
                    <div class="first">
                        МЫ УСПЕШНЫ
                    </div>
                    <div class="second collapse-group">
                        <p class="toggle-me">МЫ ИЗБИРАЛИ И ДЕПУТАТОВ ГОСДУМЫ, И ГУБЕРНАТОРОВ, И СЕНАТОРОВ, И ПРЕЗИДЕНТОВ</p>
                        <small class="collapse" id="reality-second-2">
                            Но мы, начиная с 1997 года, и неоднократно участвовали в
                            московских городских и областных выборах разного уровня: как
                            районных, так и думских. При нашем участии в 2012 в Москве
                            впервые была избрана самая крупная оппозиционная фракция в
                            местном совете, и избран председатель «неединорос». Но ещё в
                            1997 году мы проделали тоже самое в Домодедовском районе
                            Московской области
                        </small><br /><br /><br />
                    </div>
                </li>
                <li>
                    <div class="first">
                        МЫ ПРОЕКТ НАДПАРТИЙНЫЙ
                    </div>
                    <div class="second collapse-group">
                        <p class="toggle-me">МЫ СЧИТАЕМ, ЧТО ВО ВЛАСТИ ДОЛЖНЫ БЫТЬ ПРЕДСТАВЛЕНЫ ВСЕ СЛОИ ОБЩЕСТВА</p>
                        <small class="collapse" id="reality-second-3">
                            Поэтому для нас на первом месте интересы москвичей, а не
                            удовлетворение, не всегда понятных, партийных амбиций. Но мы хорошо
                            знаем их методы работы, т.к. в разное время сотрудничали и с Единой
                            Россией, и с КПРФ, и с ЛДПР, и со Справедливороссами, и с Родиной и даже с «Патриотами России»
                        </small><br /><br /><br />
                    </div>
                </li>
                <li>
                    <div class="first">
                        НАШ КУРС – ВАША УДАЧА!
                    </div>
                    <div class="second collapse-group">
                        <p class="toggle-me">МЫ ПРИНОСИМ УДАЧУ НАШИМ ПАРТНЁРАМ!</p>
                        <small class="collapse" id="reality-second-4">
                            Основными компонентами успешной предвыборной кампании является<br />
                            - наличие достаточных ресурсов: временных, людских, финансовых и
                            т.п., для её проведения;<br />
                            - грамотная организация самой кампании при участии
                            профессионалов;<br />
                            - и, наконец, везение, простое человеческое везение!<br />
                            И первое Ваше везение – это Ваше знакомство с нашим обучающим курсом<br />
                            «СТАНЬ ДЕПУТАТОМ МОСКВЫ – СТРАТЕГИЯ ПОБЕДЫ».<br />
                            Как решить остальные проблемы – мы Вам расскажем при встрече.
                        </small><br />&nbsp;
                    </div>
                </li>
            </ul>
        </div>
    </div><br />
</section>

<section class="mr-seventh-block">
    <div class="container">
        <div class="row text-center">
            <br /><br />
            <h2 class="text-center" style="color:#2B454E">Москва ждёт твоего решения.<br /> Помоги Москве.</h2>
            Стань представителем простых москвичей во власти и гарантом наших интересов.<br />
            <br />
            Если тебе не безразличны судьбы твоего подъезда, дома, двора, улицы, есть немного свободного времени и ты готов побороться за них.
            
             <h2 class="text-center" style="color:#2B454E">ТО МЫ ТЕБЯ</h2> 
             
            <div class="col-md-4">
                <u><br /><strong>НАУЧИМ:</strong></u><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>КАК ВЫИГРЫВАТЬ МЕСТНЫЕ ВЫБОРЫ!</strong><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>КАК СТАТЬ МУНИЦИПАЛЬНЫМ ДЕПУТАТОМ!</strong>
            </div>
            <div class="col-md-4">
                <u><br /><strong>РАССКАЖЕМ</strong></u><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>Сколько это стоит,</strong><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>Где взять на это деньги,</strong><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>Что ещё надо знать и уметь для победы!</strong>
            </div>
            <div class="col-md-4">
                <u><br /><strong>ПОМОЖЕМ</strong></u><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>С выдвижением в кандидаты,</strong><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>Проведением предвыборной кампании,</strong><br />
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <strong>Организацией штаба и привлечением помощников</strong><br /><br /><br />
            </div>
             
            <h2 class="text-center" style="color:#2B454E">ПОДДЕРЖИМ НА НАЧАЛЬНОМ ЭТАПЕ ДЕПУТАТСКОЙ ДЕЯТЕЛЬНОСТИ!</h2>
            <div class="clearfix"></div>
        </div>
    </div><br />
</section>

<section class="mr-eighth-block">
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-12 text-center">
                <p>
                    <h2 style="color:#FF524F">КОНТАКТЫ</h2><br />
                    <strong>до 09 марта 2017 года надо оставить заявку:</strong><br />
                    <strong>по телефону: <a href="tel:+74956424276">+7 495 642-42-76</a></strong><br />
                    <strong>по email: </strong><a href="mailto:info@akademy-gov.ru">info@akademy-gov.ru</a><br />
                    <strong>Адрес: ул. Воронцовская, д.21</strong>
                </p>
                <br /><br />
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">
                    ЗАПИСАТЬСЯ!
                </button>
            </div>
        </div><br /><br />
    </div>
</section>

<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">ЗАРЕГИСТРИРОВАТЬСЯ!</h4>
            </div>
            <div class="modal-body">
                <form id="tryitForm" method="post">
                    <div class="form-group row">
                        <label for="fioy" class="col-sm-2 col-form-label">ФИО</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fioy" name="fioy" placeholder="ФИО" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emaily" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="emaily" name="emaily" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phony" class="col-sm-2 col-form-label">Телефон</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="phony" name="phony" placeholder="Телефон" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerOK" tabindex="-2" role="dialog" aria-labelledby="mySecondModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Спасибо за регистрацию!</h4>
            </div>
            <div class="modal-body">
                С вами свяжутся в ближайшее время.<br />
                <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Продолжить</button>
            </div>
        </div>
    </div>
</div>

<script>
    // get days left
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
        };
    }

    // populate clock
    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = t.days;

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    var deadline = new Date("March 9, 2017");
    initializeClock('clockdiv', deadline);
</script>

<script>
    function setSiteWidth() {
        // initialize array and populate it
        var siteWidth = [];
        siteWidth.push($(window).width() * 0.7);
        siteWidth.push('1100');

        // find which one is smaller
        width = Math.round(Math.min.apply(null, siteWidth));
        if (width < 360) { width = 360 }
        // set the site width
        $(".container").css("width", width + 'px');
        console.log(width)
    }

    setSiteWidth();
    $(window).on('resize', function () { setSiteWidth() });
</script>

<script>
    // collapses for .toggle-me blocks
    $('.toggle-me').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $collapse = $this.closest('.collapse-group').find('.collapse');
        $("#" + $collapse[0].id).slideToggle('fast')
    });
</script>

<script>
    // function call, to pass message to telegram bot
    function populateAndSend() {
        var fioy = document.getElementById('fioy').value;
        var emaily = document.getElementById('emaily').value;
        var phony = document.getElementById('phony').value;

        var _url = 'https://pancakefu.azurewebsites.net/api/event/' + fioy + '/' + emaily + '/' + phony;

        return $.ajax({
            type: 'get',
            url: _url
        })
    };
    // form validation
    $('#tryitForm').validate({
        rules: {
            fioy: "required",
            emaily: {
                required: true,
                email: true,
                async: false
            },
            phony: {
                required: true,
                minlength: 10,
                maxlength: 11,
                number: true
            }
        },
        messages: {
            fioy: "Пожалуйста введите ФИО",
            emaily: "Пожалуйста введите правильный имейл",
            phony: "Пожалуйста используйте формат 9163523523 или 79163523523"
        },
        // handle async here
        submitHandler: function (form) {
            populateAndSend();
            $("#register").modal('toggle'); 
            $('#registerOK').modal('toggle');

            return false;
        }
    });
</script>

