@{
    ViewBag.Title = "Главная";
}

<section class="mr-zero-block">
    <div class="container jumbotron">
        Национальная Академия Депутатов
        Объявляет мобилизацию:
        Наведём порядок в городе!
        Возьми власть в свои руки – стань депутатом!
        10 сентября 2017 года в 124 районах города Москвы пройдут выборы в местные Советы депутатов.
        Москва ждёт твоего решения. Помоги Москве.
        Стань представителем простых москвичей во власти и гарантом наших интересов.
        Вся Москва надеется на тебя!
    </div>
</section>
<section class="mr-first-block">
    <div class="container">
        <br /><br /><br />
        Многие из нас задумывались: а куда идут деньги ЖКХ, почему наш дом не ремонтируют, хотя в этом году пора,
        как убрать платную парковку на нашей улице или поставить шлагбаум, чтобы чужие во двор не заезжали, и неплохо бы,
        чтобы сквер во дворе разбили и спортивную площадку починили.<br /><br />

        На все эти вопросы и множество других, из нашей повседневной жизни, может получить ответ муниципальный депутат.
        И не просто получить ответ, но и заставить местные власти считаться с нашими надеждами и чаяниями.<br /><br />

        Без согласия местных депутатов невозможно проведение капремонта нашего жилья и подъездов, установка заборчиков и
        бордюров, сооружение и ремонт детских и спортивных площадок, организация и благоустройство придомовой территории,
        установка памятников, отведение земли под жилые дома, новое строительство на территории района и многое другое.<br /><br />

        Муниципальным депутатом может стать любой совершеннолетний гражданин России. Мы бы хотели, чтобы это были неравнодушные
        москвичи, которым небезразлично что происходит на наших улицах, в наших домах и дворах, которые готовы потратить немного
        личного времени на отстаивание наших общих интересов!<br /><br />

        Если тебе не безразличны судьбы твоего подъезда, дома, двора, улицы, есть немного свободного времени и ты готов побороться за них.

        <div class="col-md-4">
            <u><br /><strong>ПОМОЖЕМ</strong></u><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>С выдвижением в кандидаты,</strong><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>Проведением предвыборной кампании,</strong><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>Организацией штаба и привлечением помощников</strong><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>На начальном этапе депутатской деятельности!</strong>
        </div>
        <div class="col-md-4">
            <u><br /><strong>НАУЧИМ:</strong></u><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>КАК ВЫИГРЫВАТЬ МЕСТНЫЕ ВЫБОРЫ!</strong><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>КАК СТАТЬ МУНИЦИПАЛЬНЫМ ДЕПУТАТОМ!</strong>
        </div>
        <div class="col-md-4">
            <u><br /><strong>РАССКАЖЕМ</strong></u><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>Сколько это стоит,</strong><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>Где взять на это деньги,</strong><br />
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <strong>Что ещё надо знать и уметь для победы!</strong>
        </div>
        <div class="clearfix"></div>
        <br /><br />
    </div>
</section>
<section class="mr-second-block">
    <div class="container">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- <ol class="carousel-indicators" style="z-index:5">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol> -->
            <!-- Wrapper for slides --><div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-content">
                        <div class="text-center">
                            <br />
                            <h3>Миф - Не каждый может стать депутатом.</h3>
                            <b>Реальность</b>: Депутатом муниципального Совета депутатов в г. Москве может стать любой гражданин России, достигший 18 лет.
                            В Москве немало людей стали депутатами в 19 лет! От депутата не требуется специальных знаний, высшего образования
                            или каких-то особых навыков. Он должен представлять интересы своих избирателей и обладать здравым смыслом.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div class="text-center">
                            <br />
                            <h3>Миф - Это очень сложно.</h3>
                            <b>Реальность</b>: Скажем так, это чуть сложнее чем научиться управлять автомобилем. Но этому, точно, можно научиться.
                            Т.к. есть проверенные методики и понятные алгоритмы, позволяющие обычному гражданину разобраться как, например, отремонтировать свой и соседский двор.
                            Большинство вопросов, решаемых депутатами – это вопросы нашей повседневной городской жизни, понимание которых доступно любому здравомыслящему горожанину.<br /><br />

                            Во всяком случае, поверьте, большинство местных депутатов – это обычные люди, которые, часто, волею случая оказались у кормила власти. И поверьте – они справляются.
                            Помогает обычный здравый смысл, который позволяет понять: в чём состоят интересы твои и твоих избирателей, а не Дептранса, который, во чтобы то ни стало,
                            хочет обложить тебя платными парковками.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div class="text-center">
                            <br />
                            <h3>Миф - Это занимает слишком много времени.</h3>
                            <b>Реальность</b>: У депутата есть 2 обязательных мероприятия каждый месяц: ежемесячные заседание и прием граждан. Кроме того, еще возможна работа в
                            комиссиях и выезды по заявлению граждан, но как правило, большая часть этой работы ложится на председателя и аппарат Совета. Так что, в среднем,
                            Вы будете заняты 1 вечер в неделю.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div class="text-center">
                            <br />
                            <h3>Миф - Это дорого. Избирательная кампания стоит больших денег.</h3>
                            <b>Реальность</b>: На самом деле, если самому активно участвовать в кампании, расходы как правило составят от нескольких сотен до
                            нескольких десятков тысяч рублей. Можно и в 30 тысяч уложится, можно и 100 тысяч не пожалеть. Разница в результате небольшая, выше
                            гарантия сохранить итоги голосования. Эти траты «отбиваются» максимум за полгода, а то и за три месяца, за счет ежеквартальной депутатской премии.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</section>
<section class="mr-third-block">
    <div class="container">
        <br /><br /><p class="text-center">Мы приглашаем тебя принять участие в обучающем курсе <strong>«СТАНЬ ДЕПУТАТОМ МОСКВЫ – СТРАТЕГИЯ ПОБЕДЫ»</strong>.</p><br />

        <div class="col-md-4">
            Почему выгодно быть депутатом. Кто такие московские депутаты. Зачем они нужны. Что они могут. Структура управления Москвой – иерархия власти.<br />
            Когда и как начать избирательную кампанию. Как выбрать округ. Как привлечь актив. Особенности ведения кампании в муниципальном округе: как найти свой «электорат».<br /><br />
        </div>
        <div class="col-md-4">
            Регистрация на выборах: выдвижение от партии или сбор подписей – юридические аспекты. Избирательный счёт.<br />
            Сбор и использование социально значимой информации. Как наладить диалог с местной властью. Роль районных управ.
        </div>
        <div class="col-md-4">
            Разработка агитационной продукции – как сделать «недорого и сердито». Где взять информацию для АПМ и как ею распорядиться.<br />
            Интернет и его роль. Аккаунты в соцcетях, как использовать: постить котиков или ругать платные парковки.
        </div><div class="clearfix"></div>
        <div class="col-md-4">Полевые технологии «от двери к двери»: как бюджетно «окучить» свой округ и недорого распространить АПМ. Встречи с избирателями – технология проведения</div>
        <div class="col-md-4">Защита результатов выборов: как не дать себя обмануть Организация контроля хода голосования и подсчета голосов.</div>
        <div class="col-md-4">Окупаемость избирательной кампании. Краудфандинг или чем заинтересовать инвесторов.</div>
    </div><br /><br />
</section>
<section class="mr-fourth-block">
    <div class="container">
        3. ВОПРОСЫ-ОТВЕТЫ ПО МОСКОВСКИМ ВЫБОРЫ

        О КАКИХ ВЫБОРАХ ИДЁТ РЕЧЬ?

        Речь идёт о выборах местных депутатов в Советы депутатов муниципальных округов города Москвы в 2017 году.

        КОГДА И В КАКИХ РАЙОНАХ ПРОЙДУТ ВЫБОРЫ?

        Выборы состоятся 10 сентября 2017 года в 124 районах (кроме Щукино и новой Москвы). Список районов здесь - ссылка

        КОГДА НАЧНЁТСЯ ИЗБИРАТЕЛЬНАЯ КАМПАНИЯ?

        Готовиться к выборам надо уже сейчас. Активная фаза кампании, связанная с выбором округов, составлением списков кандидатов, начнется в апреле-марте. По закону старт избирательной кампании будет дан во второй половине июня – за 80 дней до дня голосования. Поэтому обучение в нашем Университете – это первый шаг на пути к мандату.

        КТО ТАКИЕ МУНИЦИПАЛЬНЫЕ ДЕПУТАТЫ?

        Согласно Федерального закона "Об общих принципах организации местного самоуправления в Российской Федерации" от 06.10.2003 N 131-ФЗ Советы депутатов муниципальных округов города Москвы относятся к представительным органам местного самоуправления - выборным органам муниципальных образований. В «старой Москве» 125 муниципальных округов (в «новой Москве» - ТиНАО, выборов в 2017 году не будет), в каждом совете от 10 до 20 депутатов. Депутаты каждый месяц проводят заседания на которых утверждают местный бюджет, проекты благоустройства дворов, контролируют капремонт домов и размещение ларьков и летних кафе и другие вопросы, относящиеся к исключительной компетенции представительного органа муниципального образования, также ведут постоянный прием граждан по всем вопросам и многое другое...

        ПОЛУЧАЮТ ЛИ МУНИЦИПАЛЬНЫЕ ДЕПУТАТЫ ДЕНЕЖНОЕ ВОЗНАГРАЖДЕНИЕ ЗА СВОЮ РАБОТУ?

        На постоянной основе, т.е. по трудовому контракту, в совете депутатов, как правило, работает только председатель. Однако в настоящее время московские муниципальные депутаты ежеквартально получают субсидию от города Москвы на поощрение депутатов, активно участвующих в осуществлении своих полномочий, из расчета 60 тысяч рублей на депутата в месяц – на руки получается 52 200 рублей. Так же каждый депутат пользуется правом бесплатного проезда на всем общественном транспорте столицы, кроме такси.

        КТО МОЖЕТ СТАТЬ ДЕПУТАТОМ?

        Депутатом муниципального Совета депутатов в г. Москве может стать любой гражданин России, достигший 18 лет. В Москве немало людей стали депутатами в 19 лет! От депутата не требуется специальных знаний, высшего образования или каких-то особых навыков. Он должен представлять интересы своих избирателей и обладать здравым смыслом.

        ПОЧЕМУ МНЕ НАДО ЗАПИСАТЬСЯ НА ВАШ КУРС?

        Это Ваш первый реальный шаг на пути к депутатскому мандату. Вы получите основные навыки организации и управления предвыборной кампанией на муниципальном уровне.

        Вы узнаете: как выбрать свой округ, как результативно проводить встречи с избирателями, зачем нужны агитационные печатные материалы, где искать деньги на кампанию, как привлечь актив и как надо проконтролировать голосование, чтобы сохранить результат и Вас не обманули. Юристы расскажут Вам как правильно подать документы для выдвижения кандидатом в депутаты, открыть избирательный счёт и стать зарегистрированным кандидатом, что делать чтобы Вас не сняли с выборов и.т.д.

        КАКИЕ ЗАНЯТИЯ ВХОДЯТ В ПРОГРАММУ КУРСА УНИВЕРСИТЕТА МУНИЦИПАЛЬНЫХ ДЕПУТАТОВ «СТАНЬ ДЕПУТАТОМ МОСКВЫ – СТРАТЕГИЯ ПОБЕДЫ»?

        Вот примерный план занятий, который может корректироваться с учетом интересов слушателей:
        Почему выгодно быть депутатом. Кто такие московские депутаты. Зачем они нужны. Что они могут. Структура московской власти.
        Когда и как начать избирательную кампанию. Как выбрать округ. Как привлечь актив. Особенности ведения кампании в муниципальном округе: как найти свой «электорат».
        Окупаемость избирательной кампании. Краудфандинг или чем заинтересовать инвесторов.
        Регистрация на выборах: выдвижение от партии или сбор подписей – юридические аспекты. Избирательный счёт
        Сбор и использование социально значимой информации. Как наладить диалог с местной властью. Роль районных управ.
        Разработка агитационной продукции – как сделать «недорого и сердито». Где взять информацию для АПМ и как ею распорядиться.
        Полевые технологии «от двери к двери»: как бюджетно «окучить» свой округ и недорого распространить АПМ.
        Интернет и его роль. Соцcети: постить котиков или ругать платные парковки.
        Встречи с избирателями – технология проведения;
        Защита результатов выборов: как не дать себя обмануть Организация контроля хода голосования и подсчета голосов.


        КТО БУДЕТ УЧИТЬ?

        Занятия проводят и делятся опытом ведущие и самые успешные депутаты местных Советов города Москвы и Госдумы ФС РФ, политтехнологи и электоральные юристы с 20-летним стажем участия в московских выборах: на муниципальном, городском и федеральном уровнях.

        Возможно дать список?

        КАКОВА ПРОДОЛЖИТЕЛЬНОСТЬ УЧЕБНОГО ЦИКЛА?

        Занятия будут проходить в течение месяца и включают в себя 7 занятий по 3 часа.

        СКОЛЬКО СТОИТ ОБУЧЕНИЕ?

        Полная стоимость обучения 9500 рублей.

        Она включает в себя 7 занятий по 3 часа,

        А также учебно-методические пособия и полезные материалы:

        Сборник вопросов и ответов по темам, волнующим избирателей (ЖКХ, налоги, дороги, и пр.), для встреч с избирателями и смыслового наполнения АПМ.
        Набор юридических документов.
        Методички по технологиям защиты результата.
        Кроме того, Вы сможете бесплатно консультироваться у наших специалистов по вопросам связанным с вашей избирательной кампанией, вплоть до окончания выборов.

        АДРЕС И РЕКВИЗИТЫ УНИВЕРСИТЕТА?

        Мы находимся в Центральном административном округе Москвы, рядом с Префектурой ЦАО метро Таганская-Марксистская (5 минут пешком). Адрес: ул. Воронцовская, д.21, 5-й под’езд, 4-й этаж. Занятия проходят по вторникам и четвергам с 19.00 до 22.00..

        ДОПОЛНИТЕЛЬНЫЕ ВОПРОСЫ

        Вы можете прислать на почту: info@ip-pr.ru , или задать по телефону +7 495 642-42-76.
    </div>
</section>
<section class="mr-fifth-block">
    <div class="container">
        <br /><br /><br />
        <strong>НАШЕГО УНИВЕРСИТЕТА</strong>

        <strong>Мы – москвичи</strong>, хотя работали во всех регионах России: от
        Калининграда до Камчатки и от Крыма до Мурманска. Мы
        неоднократно участвовали в московских выборах разного уровня и
        как технологи, и как кандидаты в депутаты, поэтому среди нас
        есть действующие и бывшие местные депутаты.

        <strong>Мы не однодневки, и не вчера пришли на рынок выборов.</strong>

        Политическим PR’ом мы занимаемся с 1986-го года, рекламой – с 1989-го, российскими
        выборами – с 1993-го года. Т.е. счёт проведенных избирательных кампаний
        идет на сотни. Костяк нашей команды был сформирован 20 лет назад – в
        1996 году

        <strong>Мы успешны.</strong> Мы, начиная с 1997 года, неоднократно участвовали в
        московских городских и областных выборах разного уровня: как
        районных, так и думских. При нашем участии в 2012 в Москве
        впервые была избрана самая крупная оппозиционная фракция в
        местном совете, и избран председатель «неединорос». Но ещё в
        1997 году мы проделали тоже самое в Домодедовском районе
        Московской области.
        <strong>Мы не являемся партийным проектом. Мы проект надпартийный.</strong>

        Поэтому для нас на первом месте интересы москвичей, а не
        удовлетворение, не всегда понятных, партийных амбиций. Но мы хорошо
        знаем их методы работы, т.к. в разное время сотрудничали и с Единой
        Россией, и с КПРФ, и с ЛДПР, и со Справедливороссами, и даже с Родиной и «Патриотами России».
        <strong>Наш курс – Ваша удача!</strong>
        Основными компонентами успешной предвыборной кампании являются:
        наличие достаточных ресурсов: временных, людских, финансовых и
        т.п., для её проведения;
        грамотная организация самой кампании при участии
        профессионалов;везение, простое человеческое везение!
        И первое Ваше везение – это Ваше знакомство с нашим обучающим курсом
        «СТАНЬ ДЕПУТАТОМ МОСКВЫ – СТРАТЕГИЯ ПОБЕДЫ».
        Как решить остальные проблемы – мы Вам расскажем при встрече.
    </div><br /><br /><br />
</section>
<section>
    <div class="container">
        <br /><br /><br />
        <strong>5. РЕКОМЕНДАЦИИ</strong>
        Хованская
        Свиридов
        Борисов
        Будник
        Коржаков
        Викентьев
        <br /><br /><br />
    </div>
</section>
<section>
    <div class="container">
        <br /><br /><br />
        <strong>6. БОНУСЫ</strong>
        Кроме того, Вы получите:
        Сертификат об окончании Университета муниципальных депутатов и полезные материалы:
        <ul>
            <li>Вопросы и ответы по темам, волнующим избирателей (ЖКХ, налоги, дороги, и пр.), для встреч с избирателями и смыслового наполнения АПМ.</li>
            <li>Набор юридических документов.</li>
            <li>Методички по технологиям защиты результата.</li>
            <li>Скидка 15% на услуги компании «Онлайн выборы».</li>
        </ul>
        <br /><br /><br />
    </div>
</section>

<script>
    setCarouselHeight('#carousel-example');
    function setCarouselHeight(id) {
        var slideHeight = [];
        $(id + ' .item').each(function () {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);
        max = max + 50

        // set the slide's height
        $(id + ' .carousel-content').each(function () {
            $(this).css('height', max + 'px');
        });
    }
</script>