
@{
    ViewBag.Title = "NAD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="mr-zero-block">
    <div class="container">
        <h2>Национальная Академия Депутатов</h2><br />
        Объявляет мобилизацию:<br />
        Наведём порядок в городе!<br /><br />

        Возьми власть в свои руки – стань депутатом!<br />
        10 сентября 2017 года в 124 районах города Москвы пройдут выборы в местные Советы депутатов.<br />
        Москва ждёт твоего решения. Помоги Москве.<br />
        Стань представителем простых москвичей во власти и гарантом наших интересов.Вся Москва надеется на тебя!<br /><br />

        Университет муниципальных Выборов, при поддержке Института парламентаризма, Федерального юридического центра, объединения «Народный депутат Москвы»
        и журнала «Политический маркетинг», приглашает Тебя принять участие в программе подготовки к выборам в районные Советы депутатов.<br /><br />

        Многие из нас задумывались: а куда идут деньги ЖКХ, почему наш дом не ремонтируют, хотя в этом году пора, как убрать платную парковку на нашей улице
        или поставить шлагбаум, чтобы чужие во двор не заезжали, и неплохо бы, чтобы сквер во дворе разбили и спортивную площадку починили.<br />
        На все эти вопросы и множество других, из нашей повседневной жизни, может получить ответ муниципальный депутат. И не просто получить ответ, но и заставить
        местные власти считаться с нашими надеждами и чаяниями.<br />
        Без согласия местных депутатов невозможно проведение капремонта нашего жилья и подъездов, установка заборчиков и бордюров, сооружение и ремонт детских и
        спортивных площадок, организация и благоустройство придомовой территории, установка памятников, отведение земли под жилые дома, новое строительство на
        территории района и многое другое.<br />
        Муниципальным депутатом может стать любой совершеннолетний гражданин России. Мы бы хотели, чтобы это были неравнодушные москвичи, которым небезразлично
        что происходит на наших улицах, в наших домах и дворах, которые готовы потратить немного личного времени на отстаивание наших общих интересов!
    </div>
</section>